# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [30]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [31]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
# Run this code:

#salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries = pd.read_csv('/content/drive/MyDrive/Ironhack/Laboratorios/lab-hypothesis-testing/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [ ]:
# Your code here:
salaries.head()
#salaries.info()

                  Name  ... Hourly Rate
0    AARON,  JEFFERY M  ...         NaN
1      AARON,  KARINA   ...         NaN
2  AARON,  KIMBERLEI R  ...         NaN
3  ABAD JR,  VICENTE M  ...         NaN
4    ABASCAL,  REECE E  ...       19.86

[5 rows x 8 columns]

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [ ]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [ ]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [ ]:
# Your code here:
salaries.groupby(['Department'])['Name'].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [ ]:
# Your code here:

## Libraries
import numpy as np
from scipy.stats import ttest_1samp

In [ ]:
hourly = salaries[salaries['Salary or Hourly'] == 'Hourly'][['Hourly Rate']]
ttest_1samp(hourly, 30) # 'ttest_1samp' takes a dataset and a constant for comparison and returns the test statistic and the p value for a 2 sided test

# With a p-value of 4.32302405e-92 we can confirm the wage of all hourly workers is statistically differente from $30/h.

Ttest_1sampResult(statistic=array([20.61980579]), pvalue=array([4.32302405e-92]))

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [ ]:
# Your code here:
police = salaries[salaries['Department'] == 'POLICE'][['Annual Salary']]
police= police.dropna()
ttest_1samp(police, 86_000, alternative='greater')
pval = 0.00103017/2
pval

TypeError: ignored

In [ ]:
# Given a P-vale of 0.000515085, we can confirm the salaries this year are statistically higher than last year's mean of $86000/year a year for all salaried employees

Using the `crosstab` function, find the department that has the most hourly workers.

In [ ]:
# Your code here:
departments = salaries[salaries['Salary or Hourly'] == 'Hourly']
pd.crosstab(departments.Department, departments['Salary or Hourly']).sort_values('Hourly',ascending=False)

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here:
streets=salaries[salaries.Department=='STREETS & SAN']['Hourly Rate'].dropna()
ttest_1samp(streets,35)

pval = 3.3378530564707717e-21/2
print('With a p-value of', pval, 'we confirm the hourly wage is less than $35/h')

With a p-value of 1.6689265282353859e-21 we confirm the hourly wage is less than $35/h

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [68]:
# Your code here:
## Libraries 
import scipy
import scipy.stats as stats
from scipy.stats import t
from scipy.stats import sem

# 95% confidence interval for the mean hourly wage of all hourly workers

hr_workers = salaries[salaries['Salary or Hourly'] == 'Hourly'][['Hourly Rate']]
            

confidence_level = 0.95
freedom_degrees = hr_workers.size - 1
mean = np.mean(hr_workers)
st = sem(hr_workers)

In [45]:
confidence_int = t.interval(confidence_level, degrees_freedom, mean, st)
print(confidence_int)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [69]:
# Your code here:
sal_workers = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]['Annual Salary'] # o There is no hourly salary for this group
  
confidence = 0.95
freedom = sal_workers.size - 1
mean = np.mean(sal_workers)
st = sem(sal_workers)

confidence_int = t.interval(confidence, freedom, mean, st)
print(confidence_int)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [84]:
# Your code here:
## Libraries
from statsmodels.stats.proportion import proportions_ztest
# stat, pval = proportions_ztest(count, nobs, value)

chicago_hour = (salaries[salaries['Salary or Hourly']== 'Hourly'])
chicago_saly = salaries 

count = len(chicago_hour)    # Number of successes in nobs trials
nobs = len(salaries)         # Number of trials or observations, with the same length as count
value = 0.25                 # Value of the null hypothesis equal to the proportion in the case of a one sample test

proportions_ztest(count, nobs, value)

(-3.5099964213703005, 0.0004481127249057967)